@import "src/assets/scss/index.scss";

@mixin eclipses {
    position: absolute;
    width: 555px;
    height: 555px;
    left: -87px;
    top: -41px;
    border-radius: 50%;
    background: rgba(214, 34, 218, 0.59);
    filter: blur(247px);
    @media(max-width: 768px){
        display: none;
    }
}
.eclipse1{
    @include eclipses;
    z-index: -1;
}
.eclipse2{
    @include eclipses;
    width: 390px;
    height: 390px;
    z-index: -1;
    top: 3935px;
    left: -173px;

    background: rgba(34, 86, 218, 0.59);

}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;

    .right {
        img {
            width: 410px;
        }
    }

    .left {
        .title {
            display: flex;
            font-weight: 800;
            line-height: 5.9375rem;
            letter-spacing: -2px;

            h1 {
                font-size: 90px;
                position: relative;

                span {
                    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    
                }

                .star {
                    display: flex;
                }
            }

        }

        .button-text {
            display: flex;
            margin-top: 2rem;
            align-items: flex-start;
            justify-content: space-between;

            button {
                width: 120px;
                height: 120px;
                background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
                border-radius: 50%;
                font-weight: 600;
            }

            p {
                max-width: 418px;
                margin-right: 100px;
                line-height: 26px;
                color: rgba(255, 255, 255, 0.84);
            }
        }
    }
    @media(max-width: 1200px){
        .left{
            .title{
                h1{
                    font-size: 4.4375rem;
                }
            }
            .button-text{
                button{
                    width: 5.25rem;
                    height: 5.25rem;
                    font-size: 9px;
                }
                p{
                    margin-right: 0;
                    font-size: 14px;
                }
            }
        }
    }
    @media(max-width: 992px){
        .right{
            img{
                width: 20.9375rem;
            }
        }
        .left{
            .title{
                line-height: 4.1rem;
                h1{
                    font-size: 3.4375rem;
                }
            }
            .button-text{
                flex-direction: column-reverse;
                gap: 17px;
                button{
                    @include buttons;
                    font-size: 9px;
                    width: 7.8125rem;
                    height: 2.625rem;
                }
                p{
                    font-size: 13px;
                    line-height: 21px;
                }
            }
        }
    }
    @media(max-width: 768px){ 
        display: grid;
        justify-content: center;
        .left{
            .title{
                line-height: 4.9rem;
                justify-content: center;
                letter-spacing: 0px;
                h1{
                    font-size: 4.5625rem;
                    .star{
                        img{
                            display: none;
                        }
                    }
                }
            }
            .button-text{
                text-align: center;
                gap: 28px;
                button{
                    width: 100%;
                    height: 58px;
                    font-size: 15px;
                }
                p{
                    font-size: 21px;
                    line-height: 39px;
                    max-width: 100%;
                }    
            }
        }
        .right{
            margin-top: 100px;
            display: flex;
            justify-content: center;
            img{ 
                width: 28.9375rem;
            }
        }
    }
    @media(max-width: 576px){
        .left{
            .title{
                h1{
                    font-size: 3.5625rem;
                }
            }
            .button-text{
                text-align: justify;

                p{
                    max-width: 455px;
                    font-size: 19px;
                    line-height: 31px;
                }
            }
        }
        .right{
            margin-top: 70px;
            img{ 
                width: 25.9375rem;
            }
        }
    }
    @media(max-width: 484px){
        .left{
            .title{
                h1{
                    font-size: 44.7778px;
                    line-height: 45px;
                    letter-spacing: -0.888889px;
                }
            }
            .button-text{
                text-align: justify;

                p{
                    font-size: 14px;
                    padding: 14px;
                    line-height: 27px
                }
                button{
                    padding: 16px 32px;
                    gap: 10px;
                    margin: auto;
                    width: 327px;
                    height: 51px;
                }
            }
        }
        .right{
            img{ 
                width: 20.9375rem;
            }
        }
    }
}

.numbers {
    margin-top: 5rem;

    ul {
        display: flex;
        align-items: center;
        gap: 1.875rem;

        li {
            span {
                font-size: 15px;
            }

            h2 {
                font-size: 28px;
            }
        }
        @media(max-width:768px){ 
            justify-content: space-around;

        }
        @media (max-width: 484px){ 
            li{ 
                h2{ 
                    font-size: 30px;
                }
            } 
        }
        }
}

.company {
    margin-top: 4.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 992px){
        img{
            width: 75%;
            margin: auto;
        } 
    }
    @media(max-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        img{
            width: 65%;
        } 
    }
    @media(max-width: 576px){
        grid-template-columns: 1fr 1fr;
        img{
            width: 53%;
        } 
    }

}