@import "src/assets/scss/index.scss";


/*NAV DESKTOP*/
nav {
    margin-top: 1.4375rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            line-height: 19px;
            font-weight: 400;
            cursor: pointer;
        }

        section {
            display: flex;
            align-items: center;
            gap: 50px;

            .contact {
                @include buttons;
            }

            .NavMobile {
                display: none;

                button img {
                    width: 40px;
                }

                .drop {
                    display: block;
                    position: absolute;
                    width: 235px;
                    height: 225px;
                    background: #110929d8;
                    -webkit-backdrop-filter: blur(6px);
                    backdrop-filter: blur(6px);
                    -webkit-box-shadow: 0px 0px 19px 1px rgba(22, 12, 51, 0.65);
                    -moz-box-shadow: 0px 0px 19px 1px rgba(22, 12, 51, 0.65);
                    box-shadow: 0px 0px 19px 1px rgba(22, 12, 51, 0.65);
                    right: 53px;
                    margin-top: 18px;
                    padding: 18px;
                    border-radius: 7px;
                    border: 2px solid #190f35;

                    li {
                        padding: 14px;
                        font-size: 19px;
                        cursor: pointer;
                    }

                    .contactDrop {
                        display: none;
                        color: #2149f8;                      
                    }
                }
            }

        }

    }

    @media(max-width: 992px) {
        .container {
            ul {
                display: none;
            }

            section {
                .NavMobile {
                    display: block;
                }

            }
        }
    }

    @media(max-width: 768px) {
        .contact {
            display: none;
        }
        .container{
            section{
                .NavMobile{
                    .drop{
                        height: 17.0625rem;

                        .contactDrop{
                            display: block;
                        }
                    } 
                }
            }
        }
    }
    @media(max-width: 576px){
        .container{
            section{
                .NavMobile{
                    .drop{
                        right: 20px;
                    }
                }
            }
        }
    }
    @media(max-width: 484px){
        img{
            width: 9.0625rem;
        }
        .container{
            section{
                .NavMobile{
                    button img{
                        width: 2.1875rem;
                    }
                }
            }
        }
    }
}