@import "src/assets/scss/index.scss";

nav {
    margin-top: 1.4375rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            line-height: 19px;
            font-weight: 400;
        }

        button {
            @include buttons;
        }
    }
}